body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* header, main content, footer */
  grid-template-columns: 1fr 3fr 1fr;
  /* left sidebar, main content, right sidebar */
  grid-template-areas:
    "header header header"
    "left-sidebar main-content right-sidebar"
    "footer footer footer";
  gap: 1rem;
  height: 100vh;
  /* This ensures that the body occupies the full height of the viewport */
}

header {
  grid-area: header;
  /* Your navbar styles here */
}

.left-sidebar {
  grid-area: left-sidebar;
  /* You mentioned keeping it clear for now, so you can style or add content to this area later */
}

.main-content {
  grid-area: main-content;
  /* Styles for your main content area */
}

.right-sidebar {
  grid-area: right-sidebar;
  /* This might be where your off-canvas or cart/account related content would appear */
}

footer {
  grid-area: footer;
  /* Footer styles */
}

.all-product-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product-card{
  flex: 0 1 calc(33.33% - 20px)
}

@media (max-width: 768px) {
  .product-card {
    flex: 0 1 calc(50% - 20px);
  }
}

/* For mobile: 1 card in a row */
@media (max-width: 576px) {
  .product-card {
    flex: 0 1 100%;
  }
}
