.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;  
}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  
}

.product-card:hover .product-image {
  transform: scale(1.1);
}

.bg-body-tertiary{
  background-color: #4a4a4a !important;
}

.footer-card {
  background-color: #4a4a4a;
  color: white;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-card a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-card a:hover {
  text-decoration: underline;
}